@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div style="position:absolute;top:20%;left:5%">

    <br>
    <h1> Welcome to Soaring High!</h1>
</div>

<div style="position:absolute;top:30%;left:5%">
    <br>
    <p>Soaring High is for those who have a fondness for or are curious about hot air ballooning.</p>
    <br>
</div>


<div style="position:absolute;top:35%;left:5%">

    <p>You'll find information regarding the:</p>
    <br>
</div>

<div style="position:absolute;top:40%;left:10%">
    <p style="margin-left: 40px;">*History of hot air ballooning</p>
</div>


<div style="position:absolute;top:45%;left:10%">
    <p style="margin-left: 40px;">*Michigan Hot Air Balloon Events</p>
</div>


<div style="position:absolute;top:50%;left:10%">
    <p style="margin-left: 40px;">*Michigan Hot Air Ballon Ride vendors</p>
</div>


<div style="position:absolute;top:55%;left:10%">
                <p style="margin-left: 40px;">*Hot Air Balloon Launch Criteria</p>
</div>





    @*<img border="0" src="http://www.asignofwisdom.com/images/NM116-812DM.jpg" alt="Pulpit rock" width="304" height="228">*@



    <div style="position:absolute;top:42%;left:15%">
        <img style="margin-left: 575px;" src="http://www.asignofwisdom.com/images/NM116-812DM.jpg" width="650" height="450">
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
   